// INTRODUCTION
// ************
// This file contains variables, most of which you'll want to override on a per project basis.
// Makes it possible to quickly specify a lot of global styles, such as fonts, colours and layout options.

$blue: #3ba1b2;
$red: red;
$orange: orange;
$white: white;
$black: black;
$pink: pink;
$yellow: yellow;
